<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Index Page</title>
</head>
<style>
    .btn {
        font-size: larger;
        font-weight: bold;
        text-decoration: none;
        background: gold;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col border border-white"> 
                <br>
                <h1>Register User:</h1>
                <!-- form action is where you connect to the given controller route -->
                <form action="/user/create" method="post">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control">
                    {% for error in get_flashed_messages(category_filter = ['first_name'])%}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control">
                    {% for error in get_flashed_messages(category_filter = ['last_name'])%}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                    {% for error in get_flashed_messages(category_filter = ['email'])%}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control">
                    {% for error in get_flashed_messages(category_filter = ['password'])%}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <label for="confirm_p">Confirm Password:</label>
                    <input type="password" name="confirm_p" class="form-control">
                    {% for error in get_flashed_messages(category_filter = ['confirm_p'])%}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Register" class="btn btn-warning">
                </form>
                <br>
            </div>
            <div class="col border border-white">
                <br>
                <h1>Login:</h1>
                <form action="/user/login" method="post">
                    {% for error in get_flashed_messages(category_filter = ['login_error']) %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control">
                    <br>
                    <input type="submit" value="Login" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
</body>
</html>